<h1>Welcome to Adopt, Don't Shop!</h1>

<h2>Shelters</h2>
<ul>
  <li><a href="/shelters">Shelter Index</a></li>
  <li><a href="/shelters/new">New Shelter</a></li>
</ul>

<h2>Pets</h2>
<ul>
  <li><a href="/pets">Pet Index</a></li>
  <li><a href="/pets/new">New Pet</a></li>
</ul>
