<h1>Welcome to Adopt, Don't Shop!</h1>

<h2>Shelters</h2>
<ul>
  <li><%= link_to "Shelter Index", "/shelters" %></li>
  <li><%= link_to "New Shelter", "/shelters/new" %></li>
</ul>

<h2>Pets</h2>
<ul>
  <li><%= link_to "Pet Index", "/pets" %></li>
  <li><%= link_to "New Pet", "/pets/new" %></li>
</ul>
